body {
    background: #ffffff;
    font-size: 12pt;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #000000;
    line-height: 14pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
}

img{
    max-width: 720px;
}

code {
    font-size: 8pt;
    line-height: 8pt;
}

.small{
    font-size: 8pt;
}

a{
    color: black;
}
  