body {
  background: #FAF7FA;
  font-size: 12pt;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #000000;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 0pt;
  max-width: 720px;
  line-height: 1.5;
  margin: auto;
}

img{
  max-width: 720px;
}

.smallImage{
max-width: 350px;
padding: 5px;
border-radius: 15px;
filter: grayscale(100%);
}

pre{
line-height: normal;
}

code {
  font-size: 9pt;
  color: rgb(167, 102, 80);
  
}

.small{
  font-size: 8pt;
}

a{
  color: black;
}

.nav{
text-decoration: none;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(77px, 1113fr));
grid-gap: 0.2rem;
padding-top: 32px;
}
.box {
  background: rgb(210, 103, 103);
  position: relative;
  padding: 6px;
  width: auto;
  height: 70px;
  border-radius: 7px;
  font-size: 10pt;
  line-height: 1;
  
  color: white;
  display: flex;
align-items: center;
}

.box_contents{
width: 70px;
overflow-wrap: break-word;
}


