:root {
  --nav_about_bg: #B58585;
  --nav_about_fg: #ffcbeb;

  --nav_radio_bg: #C29EC0;
  --nav_radio_fg: #ffd5ef;

  --nav_coracle_bg: #8B80A2;
  --nav_coracle_fg: #b3ceec;

  --nav_playdate_fg: #aa6b3e;
  --nav_playdate_bg: #F4D766;

  --nav_site_fg: #efefef;
  --nav_site_bg: #8E7478;

  --nav_misc_fg: #efefef;
  --nav_misc_bg: #99BB98;

  --nav_toggle_fg: #efefef;
  --nav_toggle_bg: #1d1d1d;
  
  
}

body {
  background: rgb(255, 222, 222);
  font-size: 12pt;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #000000;
  padding-left: 4pt;
  padding-right: 4pt;
  padding-top: 0pt;
  max-width: 720px;
  line-height: 1.5;
}

canvas{
  border-radius: 16px;
}

img{
  max-width: 720px;
}

.smallImage{
max-width: 350px;
padding: 5px;
border-radius: 15px;
filter: grayscale(100%);
}

pre{
line-height: normal;
}

code {
  font-size: 9pt;
  color: #1d1d1d;
  
}

.small{
  font-size: 8pt;
}

a{
  color: black;
}

.nav{
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1113fr));
  grid-gap: 0.2rem;
  padding-top: 6px;
}

.box {
  background: rgb(210, 103, 103);
  position: relative;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 3px;
  width: auto;
  height: 90px;
  border-radius: 7px;
  font-size: 8pt;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
}

.box:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(255,255,255,0.2);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.4s;
  border-radius: 7px;
}
.box:hover:after {
  opacity:1.5;
}

.box_contents{
  width: 70px;
  overflow-wrap: break-word;
}

.nav_about{
  color: var(--nav_about_fg);
  background: var(--nav_about_bg);
}

.nav_about:hover{
  transition: all 0.5s;
  color: white;
}

.nav_radio{
  color: var(--nav_radio_fg);
  background: var(--nav_radio_bg);
}

.nav_radio:hover{
  transition: all 0.5s;
  color: white;
}

.nav_coracle{
  color: var(--nav_coracle_fg);
  background: var(--nav_coracle_bg);
}

.nav_coracle:hover{
  transition: all 0.5s;
  color: white;
}

.nav_misc{
  color: var(--nav_misc_fg);
  background: var(--nav_misc_bg);
}

.nav_misc:hover{
  transition: all 0.5s;
  color: white;
}

.nav_playdate{
  color: var(--nav_playdate_fg);
  background: var(--nav_playdate_bg);
}

.nav_playdate:hover{
  transition: all 0.5s;
  color: white;
}

.nav_site{
  color: var(--nav_site_fg);
  background: var(--nav_site_bg);
}

.nav_site:hover{
  transition: all 0.5s;
  color: white;
}

.nav_toggle{
  color: var(--nav_toggle_fg);
  background: var(--nav_toggle_bg);
}

.nav_toggle:hover{
  transition: all 0.5s;
  color: white;
}


