:root {
  --light_warm: #eeeae4;
  --blue: #619dc7;
  --purple: #9da7cb;
  --grey_blue: #a9c2d2;
  --sea_blue: #77bbd2;
  --lavender: #c3bdd4;
  --pink: #ebb9ce;
  --pale_pink: #f1d4dc;
  --violet: #cbb0cc;
  --green_blue: #bde4df;
}

*{
  margin: 0px;
}

body{
  background-color: #f5f2f0;
  color: #1d1d1d;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.6;
  justify-content: center;
  
}

header{
  display: flex;
  background: #e1e0d4;
  height: 150px;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px solid #bcbcbc;
}

article{
  max-width: 800px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: auto;
}

section{
  padding-top: 24px;
  padding-bottom: 24px;
}

.program_image {
  padding-left: 24px;
}
.program_side {
  display: inline-block;
  vertical-align: top;
}

.program_title{
  text-align: left;
  font-size: 64px;
  font-weight: 700;
}
.program_subtitle{
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.program{
  border-radius: 25px;
  border: 1px solid #aa6666;
  padding: 24px; 
  margin: 24px;
}

#logo{
  height: 18px;
  width: auto;
} 

nav{
  position: absolute;
  right: 0px;
}

nav a {
  color: #1d1d1d;
  text-decoration: none;
  padding-right: 24px;
}

@media (prefers-color-scheme: light) {
  body{
    background-color: #f5f2f0;
    color: #1d1d1d;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #1d1d1d;
    color: #efefef;
  }
}

img{
  width: 100%;
}

p{
  margin-left: 24px;
  margin-right: 24px;
}

.small{
  font-size: 12px;
}

.tiny{
  font-size: 10px;
}

.inline_example{
  background: #ff00cc;
}

#coracle_canvas {
  margin:0-24px;
}

.syntax{
  background: #f5f2f0;
}

pre[class*="language-"]{
  padding-left: 24px;
  padding-top: 0px;
}
  
#title{
    font-size: 48px;
    color: var(--blue);
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 0px;
}

h1{
  color: #000000;
  font-weight: 200;
  font-size: 26px;
  margin-bottom: 0px;
  margin-left: 24px;
}

h2{
  color: #000000;
  font-weight: 200;
  margin-left: 24px;
}

h3{
  color: #000000;
  font-weight: 200;
  margin-left: 24px;
}

code{
  font-size: 12px;
}

hr {
  background: var(--violet);
  height: 1px;
  border: 0px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-right: 0px;
}

a{
  color: #619dc7;
  line-height: 1;
  text-decoration: none;
}

a:hover {
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: rgb(243, 138, 138);
}

a.primary_link{
  background-color: #000000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

a.primary_link_null{
  background-color: #d3d3d3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

/*
 <style>
        *{
            margin-top: 0px;
        }
        body {
          background-color: white;
          color: black;
          font-family: sans-serif;
          font-size: 16px;
          line-height: 1.4;
          margin-left: 24px;
          margin-right: 24px;
          margin-bottom: 24px;
        }

        #title{
            font-size: 64px;
            position: absolute;
            color: #398e56;
            margin-top: 24px;
        }

        #coracle_canvas {
            margin:0-24px;
        }

        h1{
            padding-top: 20px;
            color: #ffd350;
            font-weight: 700;
            font-size: 38px;
            margin-bottom: 0px;
        }

        h2{
            padding-top: 20px;
        }

        h3{
            padding-top: 20px;
        }

        hr {
            background: deeppink;
            height: 1px;
            border: 0px;
        }


</style>
*/