.ui_button {
	background-color: rgb(143, 143, 143);
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#player{
	max-width: 400px;
}

#editor{
	display: none;
}



#stations_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	padding-bottom: 16px;
}

#stations_container div {
	background-color: darkgreen;
	max-width: 200px;
	aspect-ratio: 1;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.station_icon{
	width: 145px;
	height: auto;
	border-radius: 50%;
}

hr {
	border: 0.5px solid #9a9a9a;
}

input{
	margin-bottom: 12px;
} 

input {
	width: 100%;
	max-width: 450px;
	padding: 12px 6px;
	margin: 8px 0;
	box-sizing: border-box;
}