*{
  margin: 0px;
}

body{
  background-color: #1d1d1d;
  color: #6fe8af;
  font-family: sans-serif;
  font-size: 45px;
  line-height: 1;
}

/*
  Playdate
*/

.playdate_yellow{
  color: #f8ce5c;
}

.playdate_background{
  background: #ffb8b8;
}

.playdate_image{
  display: inline;
  width: 400px;
  height: auto;
  border-radius: 15px;
}

article{
  max-width: 1000px;
  padding: 12px;
}

section{
  padding-top: 24px;
  padding-bottom: 24px;
}

ul{
  padding-left: 48px;
}

li{
  padding-left: 6px;
}

h1{
  color: #efefef;
  font-size: 55px;
  font-weight: 800;
  margin-top: 12px;
  margin-Bottom: 12px;
}

h2{
  color: #efefef;
  font-size: 55px;
  font-weight: 800;
  margin-top: 12px;
  margin-Bottom: 12px;
}

h3{
  color: #efefef;
  font-size: 55px;
  font-weight: 800;
  margin-top: 12px;
  margin-Bottom: 12px;
}

nav{
  display: block;
  right: 0px;
}

nav a {
  color: #efefef;
  text-decoration: none;
  padding-right: 12px;
}

.normal{
  font-size: 16px;
}

p{
  margin-left: 0px;
  margin-right: 0px;
}

.small{
  font-size: 12px;
}

.tiny{
  font-size: 10px;
}

.inline_example{
  background: #ff00cc;
}

#coracle_canvas {
  margin:24px;
}

.syntax{
  background: #f5f2f0;
}

pre[class*="language-"]{
  padding-left: 24px;
  padding-top: 0px;
  font-size: 16px;
  background-color: #000000;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #000;
}
  
#title{
    font-size: 48px;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 0px;
}

code{
  font-size: 12px;
}

hr {
  background: #00fff2;
  height: 1px;
  border: 0px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-right: 0px;
}

a{
  color: #efefef;
  text-decoration: underline;
}

a:visited{
  color: #efefef;
  text-decoration: underline;
}

a.primary_link{
  background-color: #000000;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

a.primary_link_null{
  background-color: #d3d3d3;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}